.richContainer {
  width: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #dadada;
  padding: 10px;
  position: relative;

  .customEditorClassName {
    max-height: 400px;
    overflow: auto;
  }

  .label {
    position: absolute;
    top: -9px;
    left: 8px;
    background: white;
    padding: 0 6px;
    font-size: 12px;
  }
}
