@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@font-face {
  font-family: "IBM Plex";
  src: url(./assets/fonts/IBMPlexSansArabic.woff2) format("woff2");
  font-weight: regular;
}
@font-face {
  font-family: "IBM Plex Medium";
  src: url(./assets/fonts/IBMPlexSansArabic-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "IBM Plex Bold";
  src: url(./assets/fonts/IBMPlexSansArabic-Bold.woff2) format("woff2");
  font-weight: bold;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 0 !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  cursor: url("./assets//images/cursor.png"), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "IBM Plex", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
}
.react-multi-carousel-dot-list {
  position: relative !important;
}

input::-moz-selection,
input::selection,
textarea::-moz-selection,
textarea::selection,
h1::-moz-selection,
h1::selection,
h2::-moz-selection,
h2::selection,
h3::-moz-selection,
h3::selection,
h4::-moz-selection,
h4::selection,
h5::-moz-selection,
h5::selection,
h6::-moz-selection,
h6::selection,
p::-moz-selection,
p::selection {
  background: #00ff00;
  color: black;
}
.MuiFormControl-root,
.MuiOutlinedInput-root {
  display: block !important;
  width: 100% !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background: white !important;
}
.ql-video {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 500px;
  max-height: 100%;
}
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.App-navigation-item {
  color: rgba(0, 0, 0, 0.5);
}
.App-navigation-item--active {
  color: black;
}
.react-multiple-carousel__arrow,
.react-multiple-carousel__arrow--left {
  background: #000 !important;
}
.react-multiple-carousel__arrow::before {
  color: #00ff00 !important;
}
.qlContainer img {
  width: 100% !important;
  object-fit: contain !important;
}
.MuiButton-contained {
  box-shadow: none !important;
}
img, svg {
  -webkit-user-drag: none !important;
  -moz-user-drag: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}
nav .nav-link {
  color: rgba(0, 0, 0, 0.5) !important;
}
nav .active {
  color: black !important;
} 